body {
    margin: 0;
    padding: 0;
    display: flex;
    place-content: center;
    overflow: hidden;
}
body, canvas {
    background-color: #19100c;
    cursor: none;
}
#screen {
    z-index: 1;
    max-width: clamp(640px, 1280px, 100vw);
    max-height: clamp(480px, 960px, 100vh);
    flex: 1;
    align-self: center;
    opacity: 0;
}
#pointy {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: none;
}
