body {
    margin: 0;
    padding: 0;
    display: flex;
    place-content: center;
    overflow: hidden
}
body, canvas {
    background-color: #19100c;
    cursor: none
}
#screen {
    z-index: 1;
    aspect-ratio: 4/3;
    box-shadow: #19100c  0px 0px 2px 3px;
    max-width: min(100vw, 100vh * 4 / 3);
    max-height: min(100vh, 100vw / 4 * 3);
    flex: 1;
    align-self: center
}
#pointy {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    top: -16px
}
